<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:9999/integracao</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">4</property>

		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.cache.use_structured_entries">true</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

		<mapping class="br.com.caelum.integracao.server.Client"/>
		<mapping class="br.com.caelum.integracao.server.Project"/>
		<mapping class="br.com.caelum.integracao.server.Phase"/>
		<mapping class="br.com.caelum.integracao.server.Command"/>
		<mapping class="br.com.caelum.integracao.server.ExecuteCommandLine"/>
		<mapping class="br.com.caelum.integracao.server.Build"/>
		<mapping class="br.com.caelum.integracao.server.Config"/>
		<mapping class="br.com.caelum.integracao.server.RegisteredPlugin"/>

		<mapping class="br.com.caelum.integracao.server.label.Label"/>

		<mapping class="br.com.caelum.integracao.server.scm.Revision"/>

		<mapping class="br.com.caelum.integracao.server.queue.Job"/>

		<mapping class="br.com.caelum.integracao.server.plugin.PluginParameter"/>
		<mapping class="br.com.caelum.integracao.server.plugin.PluginToRun"/>
		
	</session-factory>
</hibernate-configuration>
