.box {
	border: 2px solid gray;
	margin: 5px;
	padding: 5px;
}
.phase {
	border: 2px solid gray;
	margin: 5px;
	padding: 5px;
	width: 250px;
}
.command {
	font-size: small;
}
.plugin {
	font-size: small;
}

.formulario input[type=text], .formulario input[type=submit], .formulario select {
	font-size: 0.8em;
}

.formulario input[type=text], .formulario select {
	width: 120px;
}

.formulario input[type=text]:focus, .formulario input[type=password]:focus, .formulario textarea:focus {
	background-color: #fffff1;
}

.phase_title {
	margin: 5px;
	font-weight: bold;
	text-align: center;
}

.title {
	font-size: 1.8em;
}
